.login-card {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 2px 3px 15px rgb(0, 0, 0, 0.2);
    border-radius: 3px;

    .content-wrapper {
        padding: 25px 50px;
    }

    .login-form {
        display: flex;
        flex-direction: column;

        input, button {
            margin: 5px 0;
        }

        input {
            border: 2px solid rgb(0, 0, 0, 0.2);
        }
    }

}



