
ul {
  padding: 0;
}

.password-settings-section-container {
  text-align: center;

  .form-wrapper {
    padding: 50px 0;

    h2 {
      color: #0C3953;
    }

    .password-change-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 200px;
      max-width: 300px;
      padding: 10px 20px;
      margin: 0 auto;

      button, input {
        width: 100%;
        margin: 5px 0;
      }
    }
  }

}


