.wrapper {
  margin: 10px 0;
}

.wrapper {
  .add-card-btn {
    color: red;
  }

  .add-btn {
    border: none;
    padding: 3px;
    background-color: rgb(235, 236, 240);
    border-radius: 2px;
    width: 100%;
    text-align: start;
    color: var(--light-gray);
  }

  .add-btn:hover {
    background-color: rgba(178, 185, 197, 0.4);
  }
}