.signup-body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 190px;
}

.signup-header {
  h1 {
    font-size: 50px;
    margin: 0;
    color: rgb(38, 57, 87);
  }
}

.signup-card {
  label {
    color: rgb(95, 109, 131);
    margin: 15px 0 5px 0;
  }
}

.signup-card {
  box-sizing: border-box;
  width: 400px;
  height: 600px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 1%;
  box-shadow: rgba(149, 157, 165, 0.7) 0px 8px 24px;
  margin-bottom: 50px;
}


.signup-card {
  h2 {
    margin: 0 auto;
    margin-bottom: 30px;
    color: rgb(95, 109, 131);
  }
}

.signup-card {
  input {
    width: 300px;
    height: 40px;
    background: none;
    border: 1px solid grey;
    border-radius: 1%;
  }

}

.signup-card {
  .redirect-login {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
}

.signup-card {
  .redirect-login h3 {
    margin: 0 20px 0 0;
  }
}

.signup-card {
  button {
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background: rgb(18, 123, 189);
    border: none;
    border-radius: 3px;
    color: white;
    transition: 0.25s ease-in-out;
  }

  button:hover {
    background: rgb(71, 147, 195);
  }
}