body,html{
    margin:0 ;
}
html{
    scroll-behavior:smooth;
    background-color: white;
}
.section-1{
    width: 100%;
    height:fit-content;
    background-color: white;
    color:black;
    font-size: 35px;
    padding: 60px 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.boards-page-board-section-header-name {
    display: inline-block;
    flex: 1;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans',
    'Helvetica Neue', sans-serif;
    line-height: 24px;
    margin: 6px 0 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.1vw;
}
.icon-boards-title img{
    width: 1.9vw;
    height: 1.95vw;
}
.Board{
    height:7vw;
    width:14vw;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
.renderBoards{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr  ;*/
    grid-template-columns: repeat(4, 1fr);

    margin: 0 -6px;

    row-gap: 1vw;
}
.Board:hover{
    opacity: 0.7;
}
.buttonForNavigation{
    border:none;
    background: transparent;
    max-width:fit-content;
}
.body-home{
    background-color: pink;
    overflow: hidden;
}
.skeleton.title{
    color:transparent;
    border-radius:10px;
    background-color: #e6e6e6;
}
.skeleton.img{
    display: none;
}
#sidepanel{
    background-color: red;
    height:50%;
    width:50%;
    /*display: none;*/
}
