body {
  margin: 0;
  padding: 0;
}

h2{
  color: #0C3953;
}
.about-section {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 1.2rem 0 1.5rem 0;

  .content-about {
    padding-top: 2rem;
  }
}

.about-form {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin-top: 1.9rem;

  .inpt {
    margin: .3rem 4.5rem;
  }

  .btn {
    margin: .3rem 4.5rem 0 4.5rem;
  }
}